@import './mixins/colors';
@import './mixins/typography';
@import './mixins/scrollbars';

html,
body {
  background: $grey;
  padding: 0;
  margin: 0;
  font-family: Raleway,Roboto,"Helvetica Neue",Arial,sans-serif;
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  color: $blueDark;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  @include text4;
  font-family: inherit;
  font-weight: 400;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

h1 {
  @include heading1;
}

h2 {
  @include heading2;
}

h3 {
  @include heading3;
}

p {
  margin-block: 10px;
}

main {
  margin-bottom: 60px;

  @include forTablet {
    max-width: 700px;
    margin-inline: auto;
  }

  @include forMobile {
    max-width: 700px;
    margin-inline: auto;
  }
}

.centered.centered {
  text-align: center;
  margin-inline: auto;
}

.formControl {
  @include text4;
  font-weight: 400;

  &.checkbox {}
}

.modalHeader {
  margin-top: 0;
  margin-bottom: 30;
}

.modalText {
  @include text2;
  margin-bottom: 30px;

  @include forMobile {
    @include text4;
  }
}

.preloader {
  display: block;
  width: 100%;
  background: grey;
  height: 0.8em;
}