@import './mixins/colors';
@import './mixins/media';
@import './mixins/typography';

// Header
.logo, .logo>a {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.lg {
    svg {
      width: 33px;
      height: 33px;
    }
    .logoText {
      padding-left: 10px;
      @include text1;
    }
  }
  
  &.md {
    svg {
      width: 27px;
      height: 27px;
    }
    .logoText {
      padding-left: 9px;
      @include text1;
    }
  }
  
  &.sm {
    svg {
      width: 24px;
      height: 24px;
    }
    .logoText {
      padding-left: 8px;
      @include text3;
    }
  }

  .logoText {
    font-weight: 600;
    font-style: normal;

    &.filled {
      color: $primary;
    }
  }

}
.headerToolbar {
  margin-top: 25px;
  min-height: 40px;
  
  @include forMobile {
    margin-top: 15px;
  }
}

.pageWrapper {
  position: relative;
  margin: 0 auto;
  background: $background;
  min-height: 100vh;

  @include forDesktop {
  }
}


.contentWrapper {
  padding-bottom: 270px;

  @include forMobile {
    padding-bottom: 410px;
  }
}

.paddedContent {
  max-width: 1240px;
  margin: 0 auto;
  width: auto;
  padding-inline: 20px;
}


// Footer
.helpText {
  display: inline-block;
  margin-top: 5px;;
  @include text4;
  font-weight: 400;
  color: $blueDark;
}

#footer {
  width: 100%;
  bottom: 0;
  background: $grey;
  position: absolute;
  height: 270px;

  @include forMobile {
    height: 410px;
  }

}

.footerMainBlock {
  display: flex;
  padding-top: 40px;

  @include forMobile {
    flex-direction: column;
  }

  .footerLogo {
    flex-grow: 1;
  }

  .footerContacts {
    margin-left: 10px;
    margin-right: 60px;

    @include forMobile {
      margin-left: 0;
      margin-top: 25px;
    }

    .footerPhone, .footerEmail {
      @include text1;

      color: $blueDark;
      font-style: normal;
    }
  }
}

.legalNotice {
  color: $blueDark;
  margin-top: 60px;
  @include text5;
  font-weight: 400;
  padding-bottom: 20px;

  @include forMobile {
    margin-top: 40px;
  }
}


.card {
  background: $white;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 6px 10px rgba(172, 171, 171, 0.1);

  @include forMobile {
    box-shadow: 0px 6px 10px rgba(172, 171, 171, 0.1), 0px 0px 10px rgba(172, 171, 171, 0.1);
  }

  &::before {
    content: '';
    width: 160px;
    height: 145px;
    background-image: url("data:image/svg+xml,%3Csvg width='204' height='142' viewBox='0 0 204 142' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M148.777 -41.9883C140.775 -44.1325 132.549 -39.3837 130.405 -31.3817C128.261 -23.3798 133.01 -15.1547 141.012 -13.0106L148.777 -41.9883ZM124.989 -3.75976C127.133 -11.7618 122.384 -19.9868 114.382 -22.1309C106.38 -24.2751 98.1554 -19.5263 96.0113 -11.5243L124.989 -3.75976ZM226.715 23.4988C228.859 15.4968 224.11 7.27175 216.108 5.12762C208.106 2.9835 199.881 7.73223 197.737 15.7342L226.715 23.4988ZM153.736 -60.4782C161.738 -58.3341 169.963 -63.0828 172.107 -71.0848C174.251 -79.0868 169.503 -87.3118 161.501 -89.456L153.736 -60.4782ZM1.07273 -36.9629C-1.0714 -28.9609 3.67734 -20.7358 11.6793 -18.5917C19.6813 -16.4476 27.9064 -21.1963 30.0505 -29.1983L1.07273 -36.9629ZM108.802 107.204C100.8 105.06 92.5752 109.808 90.4311 117.81C88.2869 125.812 93.0357 134.037 101.038 136.181L108.802 107.204ZM141.012 -13.0106C147.929 -11.1571 152.116 -3.90486 150.263 3.0123L179.241 10.7769C185.382 -12.1443 171.698 -35.8466 148.777 -41.9883L141.012 -13.0106ZM150.263 3.0123C148.409 9.92947 141.157 14.1166 134.24 12.2631L126.475 41.2409C149.396 47.3826 173.099 33.698 179.241 10.7769L150.263 3.0123ZM134.24 12.2631C127.323 10.4097 123.136 3.1574 124.989 -3.75976L96.0113 -11.5243C89.8696 11.3968 103.554 35.0992 126.475 41.2409L134.24 12.2631ZM197.737 15.7342C188.979 48.4208 154.211 68.4938 121.525 59.7355L113.76 88.7133C162.451 101.76 213.668 72.1894 226.715 23.4988L197.737 15.7342ZM121.525 59.7355C88.8383 50.9771 68.7652 16.2096 77.5236 -16.4769L48.5458 -24.2415C35.4992 24.4491 65.0697 75.6667 113.76 88.7133L121.525 59.7355ZM77.5236 -16.4769C86.2819 -49.1635 121.049 -69.2366 153.736 -60.4782L161.501 -89.456C112.81 -102.503 61.5924 -72.9321 48.5458 -24.2415L77.5236 -16.4769ZM30.0505 -29.1983C46.0772 -89.0106 106.64 -123.977 166.453 -107.95L174.217 -136.928C98.4008 -157.243 21.3876 -112.779 1.07273 -36.9629L30.0505 -29.1983ZM166.453 -107.95C226.265 -91.9234 261.231 -31.3603 245.204 28.452L274.182 36.2165C294.497 -39.5998 250.033 -116.613 174.217 -136.928L166.453 -107.95ZM245.204 28.452C229.178 88.2643 168.615 123.23 108.802 107.204L101.038 136.181C176.854 156.496 253.867 112.033 274.182 36.2165L245.204 28.452Z' fill='%23F0EFF1' fill-opacity='0.6'/%3E%3C/svg%3E");
    background-position: top right;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    @include forMobile {
      top: unset;
      bottom: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='134' height='93' viewBox='0 0 134 93' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M98.2136 146.605C104.192 150.057 111.837 148.008 115.289 142.03C118.741 136.051 116.692 128.406 110.714 124.954L98.2136 146.605ZM124.955 121.139C121.503 127.117 123.552 134.762 129.53 138.214C135.509 141.666 143.154 139.617 146.606 133.639L124.955 121.139ZM50.4995 78.1506C47.0477 84.1292 49.0962 91.7741 55.0748 95.2259C61.0535 98.6777 68.6984 96.6292 72.1502 90.6506L50.4995 78.1506ZM90.6508 159.696C84.6722 156.244 77.0273 158.293 73.5755 164.271C70.1237 170.25 72.1722 177.895 78.1508 181.347L90.6508 159.696ZM216.094 173.757C219.545 167.779 217.497 160.134 211.518 156.682C205.54 153.23 197.895 155.279 194.443 161.257L216.094 173.757ZM161.257 37.4075C167.236 40.8593 174.881 38.8108 178.333 32.8322C181.785 26.8535 179.736 19.2086 173.757 15.7568L161.257 37.4075ZM110.714 124.954C105.773 122.102 104.045 115.654 106.898 110.713L85.247 98.2131C75.4908 115.111 81.3153 136.849 98.2136 146.605L110.714 124.954ZM106.898 110.713C109.75 105.772 116.198 104.044 121.139 106.897L133.639 85.2465C116.741 75.4902 95.0033 81.3148 85.247 98.2131L106.898 110.713ZM121.139 106.897C126.08 109.75 127.808 116.197 124.955 121.139L146.606 133.639C156.362 116.74 150.537 95.0028 133.639 85.2465L121.139 106.897ZM72.1502 90.6506C85.8924 66.8482 117.393 58.4076 141.196 72.1499L153.696 50.4992C117.936 29.8534 71.1453 42.3909 50.4995 78.1506L72.1502 90.6506ZM141.196 72.1499C164.998 85.8921 173.439 117.393 159.696 141.195L181.347 153.695C201.993 117.936 189.455 71.1451 153.696 50.4992L141.196 72.1499ZM159.696 141.195C145.954 164.998 114.453 173.438 90.6508 159.696L78.1508 181.347C113.91 201.993 160.701 189.455 181.347 153.695L159.696 141.195ZM194.443 161.257C169.238 204.913 114.249 219.648 70.5931 194.443L58.0931 216.093C113.707 248.202 183.985 229.371 216.094 173.757L194.443 161.257ZM70.5931 194.443C26.9369 169.238 12.2027 114.249 37.4077 70.5929L15.7571 58.0929C-16.3515 113.706 2.47955 183.985 58.0931 216.093L70.5931 194.443ZM37.4077 70.5929C62.6127 26.9366 117.601 12.2025 161.257 37.4075L173.757 15.7568C118.144 -16.3517 47.8656 2.47931 15.7571 58.0929L37.4077 70.5929Z' fill='%23F0EFF1' fill-opacity='0.6'/%3E%3C/svg%3E");
      background-position: bottom right;
      width: 135px;
      height: 95px;
    }
  }
  
  &::after {
    content: '';
    width: 60px;
    height: 70px;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='67' viewBox='0 0 84 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.26402 103.736C4.87295 105.764 10.6814 103.244 12.7096 98.1071C14.7377 92.9702 12.2175 87.1617 7.08057 85.1335L-0.26402 103.736ZM14.1338 82.0733C12.1056 87.2103 14.6258 93.0187 19.7628 95.0469C24.8998 97.075 30.7082 94.5548 32.7364 89.4179L14.1338 82.0733ZM-39.7112 60.8138C-41.7393 65.9508 -39.2191 71.7593 -34.0822 73.7874C-28.9452 75.8156 -23.1367 73.2954 -21.1086 68.1584L-39.7112 60.8138ZM-2.84209 110.259C-7.97906 108.23 -13.7875 110.751 -15.8157 115.888C-17.8438 121.025 -15.3236 126.833 -10.1867 128.861L-2.84209 110.259ZM82.9887 109.258C85.0169 104.121 82.4967 98.3127 77.3597 96.2846C72.2228 94.2564 66.4143 96.7766 64.3861 101.914L82.9887 109.258ZM30.9134 24.7666C36.0504 26.7947 41.8589 24.2745 43.887 19.1376C45.9152 14.0006 43.395 8.19212 38.258 6.16397L30.9134 24.7666ZM7.08057 85.1335C4.32062 84.0439 2.93064 80.8403 4.02031 78.0803L-14.5823 70.7358C-19.7283 83.7696 -13.2979 98.5902 -0.26402 103.736L7.08057 85.1335ZM4.02031 78.0803C5.10998 75.3204 8.31356 73.9304 11.0735 75.0201L18.4181 56.4175C5.38422 51.2715 -9.43632 57.7019 -14.5823 70.7358L4.02031 78.0803ZM11.0735 75.0201C13.8335 76.1098 15.2234 79.3133 14.1338 82.0733L32.7364 89.4179C37.8824 76.384 31.452 61.5635 18.4181 56.4175L11.0735 75.0201ZM-21.1086 68.1584C-14.6336 51.7583 4.59145 43.417 20.9915 49.892L28.3361 31.2893C1.66211 20.7581 -29.1799 34.1398 -39.7112 60.8138L-21.1086 68.1584ZM20.9915 49.892C37.3916 56.367 45.733 75.592 39.258 91.992L57.8606 99.3366C68.3919 72.6626 55.0101 41.8206 28.3361 31.2893L20.9915 49.892ZM39.258 91.992C32.783 108.392 13.558 116.734 -2.84209 110.259L-10.1867 128.861C16.4873 139.392 47.3293 126.011 57.8606 99.3366L39.258 91.992ZM64.3861 101.914C52.2424 132.672 17.9972 147.53 -12.7609 135.386L-20.1055 153.989C20.9266 170.189 66.7887 150.29 82.9887 109.258L64.3861 101.914ZM-12.7609 135.386C-43.519 123.243 -58.3773 88.9974 -46.2336 58.2393L-64.8362 50.8947C-81.0362 91.9267 -61.1375 137.789 -20.1055 153.989L-12.7609 135.386ZM-46.2336 58.2393C-34.0898 27.4812 0.155313 12.6228 30.9134 24.7666L38.258 6.16397C-2.77403 -10.0361 -48.6361 9.86263 -64.8362 50.8947L-46.2336 58.2393Z' fill='%23F0EFF1' fill-opacity='0.6'/%3E%3C/svg%3E");
    background-position: bottom left;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    @include forMobile {
      content: none;
      display: none;
    }
  }
}